table {
  margin-bottom: 50px;
  border: 2px solid red;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.lastname {
  background: orange;
  color: #fff;
}
